.categoria {

    h2 {
        font-family: var(--font);
        font-size: 32px;
        font-weight: 800;
        line-height: 37px;
        text-align: center;
        color: var(--blanco);
        width: 432px;
        height: 52px;
        padding-top: 18px;
        border-radius: 15px;

    }


    .frontend {
        background: var(--turquesa);
        border: 5px solid var(--turquesa);

    }

    .backend {
        background: var(--verde);
        border: 5px solid var(--verde);

    }

    .innovgestion {
        background: var(--naranja);
        border: 5px solid var(--naranja);
    }

    .contenedorCards {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
    }

}

/*Fin categoria*/