.containerNuevoVideo {
    width: 100%;
    height: auto;
    margin: 0;

    .titulos {
        width: 100%;
        height: 136px;
        gap: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;


        h2 {
            margin: 0;
            margin-top: 20px;
            font-family: var(--front);
            font-size: 40px;
            font-weight: 900;
            line-height: 70px;
            text-align: center;
            color: var(--blanco);

        }

        h6 {
            width: 782px;
            height: 56px;
            margin: 0;
            font-family: var(--front);
            font-size: 17px;
            font-weight: 400;
            line-height: 23px;
            text-align: center;
            color: var(--blanco);
        }

    }/*Fin titulos*/

    
    .formulario {
        width: 100%;
        height: auto;
        gap: 60px;


        h4 {
            display: flex;
            align-items: center;
            height: 75px;
            margin-bottom: 70px;
            border-top: 1px solid var(--gris-claro);
            border-bottom: 1px solid var(--gris-claro);
            margin-left: 70px;
            margin-right: 70px;
            font-family: var(--font-button);
            font-size: 24px;
            font-weight: 600;
            line-height: 24px;
            text-align: left;
            color: var(--blanco);

        }


        .contenedor {
            width: 100%;
            height: auto;
            display: flex;
            gap: 60px;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            flex-wrap: wrap;
            margin-left: 5%;

            .titulo {
                width: 43%;
                height: 108px;
                display: flex;
                flex-direction: column;


                .labelTitulo {
                    width: 100%;
                    height: 31px;
                    font-family: var(--font-button);
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 24px;
                    text-align: left;
                    color: var(--blanco);

                }

                .inputTitulo {
                    width: 100%;
                    height: 62px;
                    border-radius: 10px;
                    background: var(--gris-input);
                    border: 1px solid var(--azul-oscuro);
                    font-family: var(--font-button);
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 24px;
                    text-align: left;
                    padding-left: 15px;
                    color: var(--gris-claro);

                }

            }

            /*Fin titulo*/

            .imagen {
                width: 43%;
                height: 108px;
                /* margin-bottom: 5px; */
                display: flex;
                flex-direction: column;


                .labelImagen {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 31px;
                    font-family: var(--font-button);
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 24px;
                    text-align: left;
                    color: var(--blanco);

                }

                .inputImagen {

                    width: 100%;
                    height: 62px;
                    gap: 0px;
                    border-radius: 10px;
                    background: var(--gris-input);
                    border: 1px solid var(--azul-oscuro);
                    font-family: var(--font-button);
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 24px;
                    text-align: left;
                    padding-left: 15px;
                    color: var(--gris-claro);

                }

            }

            /*Fin imagen*/

            .video {
                width: 43%;
                height: 108px;
                /* margin-bottom: 5px; */
                display: flex;
                flex-direction: column;


                .labelVideo {
                    width: 164px;
                    height: 31px;
                    font-family: var(--font-button);
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 24px;
                    text-align: left;
                    color: var(--blanco);
                }

                .inputVideo {

                    width: 100%;
                    height: 62px;
                    border-radius: 10px;
                    background: var(--gris-input);
                    border: 1px solid var(--azul-oscuro);
                    font-family: var(--font-button);
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 24px;
                    text-align: left;
                    padding-left: 15px;
                    color: var(--gris-claro);

                }

            }

            /*Fin video*/


            .descripcion {
                width: 43%;
                height: 250px;
                /* margin-bottom: 5px; */
                display: flex;
                flex-direction: column;


                .labelDescripcion {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 10%;
                    font-family: var(--font-button);
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 24px;
                    text-align: left;
                    color: var(--blanco);

                }

                .textareaDescripcion {
                    width: 100%;
                    height: 90%;
                    border-radius: 10px;
                    background: var(--gris-input);
                    border: 1px solid var(--azul-oscuro);
                    font-family: var(--font-button);
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 24px;
                    text-align: left;
                    padding-left: 15px;
                    color: var(--gris-claro);
                }

            }/*Fin descripcion*/


        } /*Fin contenedor*/

    } /*Fin formulario*/

    .btn {
        width: 100%;
        height: 108px;
        gap: 70px;
        margin: 0;
        margin-top: 15px;
        margin-left: 70px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content:left;

        button {
            width: 180px;
            height: 54px;
            border-radius: 15px;
            font-family: var(--font-button);
            font-size: 18px;
            font-weight: 900;
            line-height: 24px;
            text-align: center;
            background: var(--gris-input);
            color: var(--blanco)
        }

        .btnGuardar {
            border: 1px solid var(--azul-oscuro);
        }

        .btnLimpiar {
            color: var(--blanco);
            border: 1px solid var(--blanco)
        }


    }/*Fin btn*/

}/*Fin containerModalVideo*/

@media screen and (max-width:610px){
    .containerNuevoVideo{
        .formulario{
            .contenedor{
                .titulo, .imagen, .video, .descripcion{
                    width: 90%;
                }
            }
        }
    }
}

