.footer {
    width: 100vw;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--negro);
    border-top: 4px solid var(--azul-claro);
    position: relative;
    box-shadow: 0px 5px 29px 0px var(--azul-oscuro);

}