.capa {
    width: 100vw;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;


    .videoDestacado {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        gap: 20px;


        .player {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;
            width: 45%;

            img {
                width: 100%;
                height: auto;
                margin-top: 160px;
                border-radius: 15px;
                border: 5px;
                box-shadow: 0px 0px 17px 8px var(--turquesa) inset;
            }

        }/*Fin player*/


        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 140px;
            width: 45%;
            height: auto;


            .btnCategoria {
                width: 60%;
                height: 72px;
                border-radius: 15px;
                background: var(--turquesa);
                border: 5px solid var(--turquesa);
                font-family: var(--font);
                font-weight: 800;
                font-size: 3em;
                color: var(--blanco);
                line-height: 56px;
                text-align: center;
                margin-bottom: 10px;

            }

            h3 {
                width: 90%;
                text-align: left;
                font-family: var(--font);
                color: var(--blanco);
                font-size: 40px;
                margin-top: 0;
                margin-bottom: 10px;
            }

            p {
                width: 90%;
                font-family: var(--font);
                color: var(--blanco);
                font-size: 18px;
                font-weight: 300;
                line-height: 21px;
                text-align: left;
                margin-top: 0;
                margin-bottom: 10px;
            }


        }/*fin info*/


    }/*fin videoDesctacado*/

    
}/* Fin capa*/



@media screen and (max-width:968px){
    .capa{
        .videoDestacado{
            .info{
                .btnCategoria{
                    font-size: 1.5em;
                    line-height: 2.2em;
                }
            }
        }
    }
}

@media screen and (max-width:700px){
    .capa{
        .videoDestacado{
            flex-direction: column;
            align-items:center;
            justify-content:start;
            
            
            .player,.info{
                width: 80%;
                margin-top: 80px;
            }

            .player{
                img{
                    margin-top: 0;
                }
            }

            .info{
                align-items: center;

                h3,p{
                    text-align: center;
                }
            }
        }
    }
}